<p-tabView #tv>
  <p-tabPanel header="Home" [closable]="false">
    <div>
      <input #tabTitle>
      <input #chkCloseable type="checkbox">
      <button (click)="newTab(tabTitle.value, chkCloseable.checked)">Add</button>
    </div>
  </p-tabPanel>
  <!-- <p-tabPanel *ngFor="let tab of tabs" [header]="tab?.title" [closable]="tab?.closeable">

  </p-tabPanel> -->
</p-tabView>
<ng-template #tab *appComponent="let component = component">
    <app-tab [dynamicComponent]="component"></app-tab>
</ng-template>


